What should we call you?
<%= form_for @conn, page_path(@conn, :create), [as: :party, class: "form-inline"], fn f -> %>
  <%= text_input f, :user_name, class: "form-control" %>
  <%= submit "Connect", class: "btn btn-primary" %>
<% end %>
